<div id="login" class="container ">
  <div class="row-fluid edit">
    <div class="span12">
      <form action="/profile/edit/{{user._id}}" method="POST" id="form-container" enctype="multipart/form-data" class="form-groupE shadow p-3 mb-5 bg-white rounded">
        <label for="profilePic">Foto de perfil:</label>

        <p>{{req.user}}</p>

        <div class="form-group">
          <label for="exampleFormControlFile1"></label>
          <input type="file" class="form-control-file" name="profilePic" value="{{user.profilePic}}">
        </div>


        <div class="form-group ">
          <label for="username">Usuario:</label>
          <input id='username' type="text" name='username' value="{{user.username}}" class="form-control">
        </div>
      

        {{#if user.isRestaurant}}
        <div class="form-group ">
          <label for="address">Dirección:</label>
          <input id='address' type="text" name='address' value="{{user.adress}}" class="form-control">
        </div>
        <div class="form-group ">
          <label for="city">Ciudad:</label>
          <input id='city' type="text" name='city' value="{{user.city}}" class="form-control">
        </div>
        {{else}}
        <div class="form-group ">
          <label for="bio">Bio:</label>
          <input id='bio' type="text" name='bio' value="{{user.bio}}" class="form-control">
        </div>
        {{/if}}

        <button type="submit" class="btn btn-primary"></a>Guardar</button>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}
      </form>
    </div>
  </div>
</div>
