<h1>Welcome to your profile, {{user.username}}!</h1>

<div class="container customers">
  <div class="row">
{{#if user.isRestaurant}}
   <div class="col-sm-10 col-md-10 col-lg-10">
      <div class='card card1'>
        <img class="card-img-top" src="{{user.profilePic}}" alt='(Upload your photo in your "Edit profile section!")'>
        <div class="card-body">
          <h5 class="card-title">Your info:</h5>
          <p class="card-text">email: {{user.email}}</p>
          <p class="card-text">Address: {{user.address}}</p>
          <p class="card-text">City: {{user.city}}</p>
          <a href="/profile/edit/{{user._id}}" class="btn btn-primary">Edit my profile</a>
        </div>
      </div>
    </div>
 
<h3>Search for a customer:</h3>
{{!-- <a href="publicProfile/{{_id}}">{{username}}</a> <br> --}}
<div class="container customers">
  <div class="row">
      {{#each rest}}
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class='card card2'>
        <img class="card-img-top" src="{{this.profilePic}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{username}}</h5>
          <p class="card-text">Bio: {{bio}}</p>
          <a href="publicProfile/{{_id}}" class="btn btn-primary">Go to customer profile</a>
        </div>
      </div>
    </div>
      {{/each}}
  </div>
</div>



{{else}}
<h3>Your info:</h3>
<section id='customerinfo'>
  <img src='{{user.profilePic}}' alt='(Upload your photo in your "Edit profile section!")'>
  <p>email: {{user.email}}</p>
  <p>Bio: {{user.bio}}</p>
</section>
<h3>Your received reviews:</h3>
{{#each rev}}
<p id='allreviews'></p>
<p><i>{{this.reviewText}}</i></p>
{{/each}}
<h3>Your received discounts:</h3>

{{#each dis}}
<p id='alldiscounts'></p>
<p>Guests: {{this.pax}}; Discount: {{this.type}}%; Message of the restaurant owner for you: <i>{{this.message}}</i></>
{{/each}}
{{/if}}