<h1>¡Hola, {{user.username}}!</h1>
<a href="/profile/edit/{{user._id}}" class="btn btn-primary editbutton">Editar mi perfil</a>

<div class="container customers">
  <div class="row">
{{#if user.isRestaurant}}
   <div class="col-sm-10 col-md-10 col-lg-10">
      <div class='card card1'>
        <img class="card-img-top" src="{{user.profilePic}}" alt='(Sube una foto en la sección de "Editar mi pefil"'>
        <div class="card-body">
          <h5 class="card-title">Tu información de perfil:</h5>
          <p class="card-text">Email: {{user.email}}</p>
          <p class="card-text">Dirección: {{user.address}}</p>
          <p class="card-text">Ciudad: {{user.city}}</p>
        </div>
      </div>
    </div>
 </div>
</div>
<h3>Busca un cliente:</h3>
{{!-- <a href="publicProfile/{{_id}}">{{username}}</a> <br> --}}
<div class="container customers">
  <div class="row">
      {{#each rest}}
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class='card card2'>
        <img class="card-img-top" src="{{this.profilePic}}" alt="El cliente no tiene foto">
        <div class="card-body">
          <h5 class="card-title">{{username}}</h5>
          <p class="card-text">Bio: {{bio}}</p>
          <a href="publicProfile/{{_id}}" class="btn btn-primary">Ir al perfil del cliente</a>
        </div>
      </div>
    </div>
      {{/each}}
  </div>
</div>

{{else}}
<div class="container customers">
  <div class="row">
       <div class="col-sm-10 col-md-10 col-lg-10">


<section id='customerinfo'>
  <div class='card card1'>
  <img class="card-img-top" src='{{user.profilePic}}' alt='(Sube una foto en la sección de "Editar mi pefil"'>
        <div class="card-body">
          <h5 class="card-title">Tu información de perfil:</h5>
  <p class="card-text">email: {{user.email}}</p>
  <p class="card-text">Bio: {{user.bio}}</p>
</section>

<div class="revanddis">
{{#if rev}}
<h3>Tus valoraciones recibidas:</h3>
{{/if}}
{{#each rev}}
<p id='allreviews'></p>
<p><i>{{this.reviewText}}</i></p>
{{/each}}

{{#if dis}}
<h3>Tus descuentos recibidos:</h3>
{{/if}}
{{#each dis}}
<p id='alldiscounts'></p>
<p>Nº Invitados: {{this.pax}}; Descuento: {{this.type}}%; Mensaje del restaurante: <i>{{this.message}}</i></>
{{/each}}
{{/if}} 
</div>